body {
  margin: 0px;
  background-repeat: repeat;
  font-family: "Courier New", Courier, monospace;
  background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.4)), url('back.png');
  background-attachment: fixed;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 50px;
  height: 100vh;
}

.panel {
  display: grid;
  align-content: space-evenly;
  padding: 0.6em;
  padding-top: 10%;
  padding-bottom: 10%;
  grid-row-gap: 1em;
}

.footer {
  grid-row: 2;
  align-self: end;
  padding-bottom: 0.6em;
  text-align: center;
  font-size: 0.7em;
  color: #444;
}

.footer a {
  color: #777;
  text-decoration: none;
  font-style: italic;
}

.footer a:hover {
  color: #000;
}

.content {
  text-align: center;
  padding: 0.6em;
}

.content a {
  color: #777;
  text-decoration: none;
  font-style: italic;
}

.content a:hover {
  color: #000;
}

.content h1 {
  font-weight: 500;
  margin: 0px;
}

.content span {
  font-size: 1em;
}

.social-container {
  text-align: center;
  display: grid;
  justify-content: space-around;
  padding: 0.6em;
}

.social {
  grid-row: 1;
  grid-column: auto;
  font-size: 1.5em;
}

.social a, .social a:visited {
  color: #000;
  text-decoration: none;
}

.social a:hover, .social a:focus {
  color: #777;
}

.avatar {
  align-self: center;
  font-size: 30px;
  text-align: center;
}

img {
  max-width: 65%;
  height: auto;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
  }
  .panel {
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    grid-gap: 1em;
    padding: 1.2em;
  }
  .footer {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
  }
  .grid-item {}
  .avatar {
    grid-row: 1 / 4;
  }
  .content {
    grid-row: 4 / 6;
  }
  .social-container {
    grid-row: 1 / 6;
    align-content: space-around;
  }
  .social {
    grid-row: auto;
    grid-column: 6;
    align-self: center;
  }
  img {
    max-width: 60%;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    grid-template-columns: auto 35% auto;
  }
}
