body {
  margin: 0px;
  background-image: url('back.png');
  background-repeat: repeat;

  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 50px;

  height: 100vh;
}

.panel {
    padding: 0.6em;
}

.footer {
  grid-row: 2;
  align-self: end;

  padding-bottom: 0.6em;
  text-align: center;
  color: #999;
}

.grid-container {
  display: grid;
}

.content{
  grid-row: 5;
  grid-column: 1 / 6;
  margin-top: 5%;
  margin-bottom: 10%;
}

.content h1 {
  font-weight: 500;
  margin: 0px;
}

.content span {
  font-size: 1em;
}

.social {
  grid-row: 6;
  font-size: 1.5em;
}

.social a:hover, a:focus, a:visited{
  color: #000;
  text-decoration: none;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.6em;

  text-align: center;
}

.avatar {
  grid-row: 1 / 5;
  grid-column: 1 / 6;
  align-self: center;

  margin-top: 5%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 100vw;
    height: 100vh;
  }
  .panel {
    align-self: center;
    grid-column: 2;
    grid-row: 2;

    background: rgba(0, 0, 0, 0.5);
  }
  .grid-item {
    grid-row: auto;
    grid-column: 5;
  }
}
